body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

button:hover {
  background-color: lightslategray;
  color: white;
  cursor: pointer;
}

tr {
  height: 1.8em;
  padding: 0;
}

th {
  padding: 0;
}

td {
  padding: 0;
}

.row {
  display: flex;
}

.col-one-seventh {
  width: calc((1 / 7) * 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.modal {
  border-radius: 10px;
  width: 40rem;
  height: 18rem;
  text-align: center;
  z-index: 2;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 4em;
  padding-left: 4rem;
  padding-right: 4rem;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.description {
  width: 100%;
  height: 8rem;
  margin-top: 2rem;
}

.option-margin {
  margin-left: 1rem;
}

.day-box {
  border: 2px solid black;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.day-box:hover {
  background-color: lightgray;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.tableEvents {
  width: 100%;
  border: 1px solid black;
  padding: 0;
}

.text-align-center {
  text-align: center;
}

#table-header {
  background-color: rgb(128, 128, 128);
}

#addEntry {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 12rem;
  border: none;
  background-color: lightgray;
  box-shadow: 4px 2px 2px black;
}

#submit {
  margin-top: 1.5rem;
  background-color: white;
  border: 2px solid black;
}
